apiVersion: apps/v1
kind:   Deployment
metadata: 
      name:  deploymentapp 
      labels: 
            app: deploymentapp
spec:
    replicas: 1   #desired state 
    strategy: 
        type: RollingUpdate
    template:
          metadata: 
                name: deploymentapp 
                labels:
                      app: deploymentapp
          spec:
              containers:
                  - name: http
                    image: nginx:latest
                    resources:  
                        requests: #starting Resources to the pod 
                          cpu: 25m  
                          memory: 100Mi 
                        limits:   #max resources that can be vertically scaled to a pod 
                          cpu: 50m
                          memory: 150Mi
                        
                    ports:
                        - name: http
                          containerPort: 80
                          protocol: TCP      
    selector:
        matchLabels:
            app: deploymentapp
---
apiVersion:  autoscaling/v2
kind:  HorizontalPodAutoscaler
metadata:  
    name: hpa1 
    labels:
        app: hpa1
spec: 
    scaleTargetRef: 
        apiVersion: apps/v1
        kind:   Deployment 
        name:  deploymentapp 
    minReplicas: 1
    maxReplicas: 2
    metrics:  #data metrics parameter
        - type: Resource
          resource:
            name: cpu   #the type of resource that to be monitored
            target:
              type: Utilization   #cpu utilization condition
              averageUtilization: 50  #cpu utilization threshold in %
    